@model CoffeeShop.Models.BillsModel;

@{
ViewData["Title"] = "Bill Form";
}

<main id="main" class="main">

    <div class="card">
        <div class="card-body">
            <div class="d-flex justify-content-between align-items-center">
                <h5 class="card-title">Add Bill</h5>
                <button type="button" class="btn btn-danger" onclick="navigateToAdd('@Url.Action("BillsList", "Bills")')">x</button>
            </div>

            <!-- Vertical Form -->
            <form class="row g-3" method="post" asp-controller="Bills" asp-action="BillsSave">
                <input type="hidden" asp-for="BillID" />

                <div class="col-12">
                    <label asp-for="BillNumber" class="form-label">Bill Number</label>
                    <input type="text" class="form-control" asp-for="BillNumber" />
                    <span asp-validation-for="BillNumber" class="text-danger"></span>
                </div>

                <div class="col-12">
                    <label asp-for="BillDate" class="form-label">Bill Date</label>
                    <input type="date" class="form-control" asp-for="BillDate" />
                    <span asp-validation-for="BillDate" class="text-danger"></span>
                </div>

                <div class="col-12">
                    <label asp-for="OrderID" class="form-label">Order Date</label>
                    <select asp-for="OrderID" class="form-control" style="width: 250px; height: 35px; padding: 5px; font-size:14px; color: #555; border: 1px solid #ccc; border-radius: 4px;">
                        <option value="">Select OrderDate</option>
                        @foreach (var order in ViewBag.OrderList)
                        {
                            <option value="@order.OrderID">@order.OrderDate.ToShortDateString()</option>
                        }
                    </select>
                    <span asp-validation-for="OrderID" class="text-danger"></span>
                </div>

                <div class="col-12">
                    <label asp-for="TotalAmount" class="form-label">Total Amount</label>
                    <input type="number" class="form-control" asp-for="TotalAmount" step="0.01" />
                    <span asp-validation-for="TotalAmount" class="text-danger"></span>
                </div>

                <div class="col-12">
                    <label asp-for="Discount" class="form-label">Discount</label>
                    <input type="number" class="form-control" asp-for="Discount" step="0.01" />
                    <span asp-validation-for="Discount" class="text-danger"></span>
                </div>

                <div class="col-12">
                    <label asp-for="NetAmount" class="form-label">Net Amount</label>
                    <input type="number" class="form-control" asp-for="NetAmount" step="0.01" />
                    <span asp-validation-for="NetAmount" class="text-danger"></span>
                </div>

                <div class="col-12">
                    <label asp-for="UserID" class="form-label">UserName</label>
                    <select asp-for="UserID" class="form-control" style="width: 250px; height: 35px; padding: 5px; font-size:14px; color: #555; border: 1px solid #ccc; border-radius: 4px;">
                        <option value="">Select UserName</option>
                        @foreach (var user in ViewBag.UserList)
                        {
                            <option value="@user.UserID">@user.UserName</option>
                        }
                    </select>
                    <span asp-validation-for="UserID" class="text-danger"></span>
                </div>

                <div class="text-center">
                    <button type="submit" class="btn btn-primary">
                        @if (ViewBag.IsEdit)
                        {
                            <text>Update</text>
                        }
                        else
                        {
                            <text>Submit</text>
                        }
                    </button>
                    <button type="reset" class="btn btn-secondary">Reset</button>
                </div>
            </form><!-- Vertical Form -->


        </div>
    </div>

</main>

<script src="~/assets/js/scripts.js"></script>
